<script setup>
import { Field } from "vee-validate";

defineProps({
  name: {
    type: String,
    required: true,
  },
  type: {
    type: String,
    default: "text",
  },
  label: {
    type: String,
    required: true,
  },
  placeholder: {
    type: String,
    default: "",
  },
  tabindex: {
    type: Number,
    default: 0,
  },
});
</script>

<template>
  <div class="form-group-wrapper">
    <Field
      :name="name"
      :type="type"
      v-slot="{ field, errorMessage }"
      validate-on-input
    >
      <div style="display: flex">
        <label class="label" :for="name">{{ label }}</label>
        <slot name="after-label"></slot>
      </div>
      <input
        class="input"
        v-bind="field"
        :placeholder="placeholder"
        :class="{ invalid: !!errorMessage }"
        :id="name"
        :type="type"
        :tabindex="tabindex"
      />
      <span class="error">{{ errorMessage }}</span>
    </Field>
  </div>
</template>

<style lang="scss">
.form-group-wrapper {
  display: flex;
  flex-direction: column;
  .label {
    font-weight: 600;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }
  .input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    &::placeholder {
      color: rgb(187, 187, 187);
    }
    &:focus {
      outline: none;
      border-color: #09f;
      box-shadow: 0 0 1px 0 #09f;
    }
    &.invalid {
      border-color: #f00;
      box-shadow: 0 0 1px 0 #f00;
    }
  }

  .error {
    color: red;
    font-size: 0.75rem;
    margin-top: 0.2rem;
    margin-bottom: 0.75rem;
  }
}
</style>
