<script setup>
import { LoginContainer } from "../components/login";
</script>

<template>
  <main>
    <LoginContainer />
  </main>
</template>

<style lang="scss" scoped>
main {
  display: inline;
}
</style>
