<template>
  <div class="wrapper">
    <img src="@/assets/not-found.png" alt="not-found" class="not-found-img" />
    <div class="typo">
      <h1 class="head">404 - Page Not Found</h1>
      <p class="sub">
        Sorry, that page doesn't exist. What would you like to do?
      </p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  background: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.typo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  .head {
    font-size: 2rem;
    font-weight: 600;
    color: #00287a;
    margin-bottom: 0.5rem;
  }
  .sub {
    font-size: 1.25rem;
    font-weight: 400;
    color: #818b9e;
    margin-bottom: 1rem;
  }
}
</style>

