<script setup>
import { onMounted, ref } from "@vue/runtime-core";
import store from "../store";

const user = ref({});
onMounted(async () => {
  const token = localStorage.getItem("token");
  user.value = await store.getUser(token);
});

const logout = () => {
  localStorage.removeItem("token");
  window.location.href = "/login";
};
</script>

<template>
  <div class="wrapper">
    <aside class="sidebar"></aside>
    <div class="greeting-container">
      <img src="@/assets/logo.svg" alt="instabug-logo" class="instabug-logo" />
      <h1 class="greeting">👋 Welcome to {{ user.email }}!</h1>
      <button class="btn btn-secondary" @click="logout">Log out</button>
    </div>
  </div>
</template>

<style scoped lang="scss">
.sidebar {
  width: 10%;
  background-color: #002276;
  height: 100%;
  display: inline-flex;
}
.greeting-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  .greeting {
    color: #00287a;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }
}
.wrapper {
  display: flex;
  height: 100%;
}
.instabug-logo {
  width: 100%;
  max-width: 7rem;
  margin-bottom: 1rem;
  position: absolute;
  left: 1rem;
  top: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 10rem;
  padding: 0.25rem;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  &.btn-secondary {
    background-color: transparent;
    color: #246aff;
    border: 1px solid #246aff;
    height: 40px;
    font-size: 0.875rem;
    line-height: 38px;
    position: absolute;
    bottom: 10%;
    transition: all 100ms ease-in-out;
    &:hover {
      background-color: #246aff;
      color: white;
    }
  }
}
</style>

