<script setup>
import { LoginCarousel, LoginForm } from ".";
</script>

<template>
  <div class="login-container">
    <LoginCarousel />
    <LoginForm />
  </div>
</template>

<style lang="scss" scoped>
.login-container {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}
</style>
