<script setup>
import { h, ref } from "vue";
import { FormGroup, LoadingSpinner } from "../shared";
import { Form } from "vee-validate";
import * as yup from "yup";
import { SocialButtons } from ".";
import LoginFormFooter from "./LoginFormFooter.vue";
import store from "../../store";

FormGroup.inheritAttrs = false;

const error = ref(null);
const loading = ref(false);

const schema = yup.object({
  email: yup
    .string()
    .email("Enter a valid email address")
    .required()
    .label("Email"),
  password: yup
    .string()
    .required()
    .min(6, "Password must be 6 characters or more")
    // at least one uppercase letter, one number
    .matches(
      /^(?=.*[A-Z])(?=.*[0-9])/,
      "Password must contain at least one uppercase letter and one number"
    )
    // doesn't contain the email name before @
    .test(
      "emailInPassword",
      "Your password is easy to guess, Please change it.",
      function (value) {
        if (!this.parent.email) return true;
        if (value?.includes(this.parent.email?.split("@")[0])) {
          return false;
        }
        return true;
      }
    )
    .label("Password"),
});

const fields = [
  {
    name: "email",
    label: "Work Email",
    type: "email",
    placeholder: "you@company.com",
  },
  {
    name: "password",
    label: "Password",
    type: "password",
    placeholder: "6+ Characters",
    afterLabel: h(
      "a",
      { href: "#", class: "forgot-password", tabindex: -1 },
      "Forgot Password?"
    ),
  },
];

const handleLogin = async (values) => {
  try {
    loading.value = true;
    const index = await store.loginUser(values);
    if (index === -1) {
      error.value = "Your email and/or password are incorrect";
      return;
    }
    error.value = null;
    localStorage.setItem("token", JSON.stringify(index));
    window.location.href = "/welcome";
  } catch {
    error.value = "An error occured. Please try again later or contact";
  } finally {
    loading.value = false;
  }
};

const isValid = ({ dirty, valid }) => {
  return dirty && valid;
};
</script>

<template>
  <div class="container">
    <div class="wrapper">
      <div class="heading">
        <img
          src="@/assets/logo.svg"
          alt="instabug-logo"
          class="instabug-logo"
        />
        <h1>Log in to Instabug</h1>
      </div>

      <SocialButtons />

      <div class="divider">
        <span class="or">or</span>
      </div>

      <Form
        @submit="handleLogin"
        class="login-form-container"
        :validation-schema="schema"
        v-slot="{ meta }"
      >
        <p class="error credentials-error" v-if="error">{{ error }}</p>
        <FormGroup
          v-for="(field, index) in fields"
          :key="index"
          v-bind="field"
          :tabindex="index + 1"
        >
          <template v-if="field.afterLabel" v-slot:after-label>
            <component :is="field.afterLabel" />
          </template>
        </FormGroup>
        <button
          class="btn btn-primary"
          type="submit"
          :disabled="!isValid(meta) || loading"
          :tabindex="fields.length + 1"
        >
          <LoadingSpinner :loading="loading"> Log in </LoadingSpinner>
        </button>
        <div class="info">
          <p>Don't have an account? <a class="clickable">Sign up</a></p>
          <a class="clickable">Login via SSO</a>
        </div>
      </Form>
      <LoginFormFooter />
    </div>
  </div>
</template>

<style scoped lang="scss">
.container {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0 auto;
  background-color: white;
  padding: 1rem 2rem;
  min-width: min(20rem, 100%);
}
.wrapper {
  max-width: 32rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: center;
}

.instabug-logo {
  margin-bottom: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.25rem;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  &.btn-primary {
    background-color: #0089e5;
    color: #fff;
    height: 40px;
    font-size: 0.875rem;
    line-height: 38px;
    &:hover {
      border-color: #09f;
      background-color: #09f;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: #cacaca;
    }
  }
}
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #f0f0f0;
  position: relative;
  width: 100%;
  margin: 1.5rem 0;
}
.or {
  font-size: 0.75rem;
  font-weight: 700;
  color: #535353;
  text-transform: uppercase;
  position: absolute;
  background-color: #fff;
  padding: 0.25rem;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .error {
    font-size: 0.875rem;
    background-color: #fbe6e1;
    border: 1px solid #818181;
    color: #564d54;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    line-height: 1;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    font-size: 0.875rem;
    color: #445065;
    .clickable {
      color: #0089e5;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: #535353;
      }
    }
  }
  :deep(.forgot-password) {
    color: #a6a6a6;
    text-decoration: none;
    font-size: 0.75rem;
    margin-left: auto;
    &:hover {
      color: #09f;
    }
  }
}
</style>
