<script setup>
const companies = [
  {
    width: 30,
    height: 20,
    logo: new URL("../../assets/login-footer/lyft.svg", import.meta.url).href,
  },
  {
    width: 80,
    height: 15,
    logo: new URL("../../assets/login-footer/buzzfeed.svg", import.meta.url)
      .href,
  },
  {
    width: 80,
    height: 20,
    logo: new URL("../../assets/login-footer/asana.svg", import.meta.url).href,
  },
  {
    width: 90,
    height: 30,
    logo: new URL("../../assets/login-footer/oneplus.svg", import.meta.url)
      .href,
  },
  {
    width: 110,
    height: 20,
    logo: new URL("../../assets/login-footer/houseparty.svg", import.meta.url)
      .href,
  },
];
</script>

<template>
  <p class="typo">Trusted by the top companies</p>
  <div class="companies">
    <img
      v-for="(company, index) in companies"
      class="company-logo"
      :key="index"
      :src="company.logo"
      :style="`width: ${company.width}px; height: ${company.height}px;`"
    />
  </div>
</template>

<style scoped lang="scss">
.typo {
  color: #a1a7b2;
  margin: 1rem 0;
  text-align: center;
}
.companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 2rem);
  gap: 0.5rem 1rem;
  flex-wrap: wrap;
}
.company-logo {
  object-fit: contain;
  color: #999;
  margin: 0 auto;
}
</style>
