<script setup>
import _ from "lodash";
import { onMounted, onUnmounted, ref } from "vue";

const cards = [
  {
    caption: "Accelerate Your Entire Mobile Team Workflow",
    image: new URL("../../assets/carousel/1.svg", import.meta.url).href,
  },
  {
    caption: "The Most Comprehensive Bug Reporting Tool for Mobile Apps",
    image: new URL("../../assets/carousel/2.svg", import.meta.url).href,
  },
  {
    caption: "Secure Crash Reporting With Real-Time Alerts",
    image: new URL("../../assets/carousel/3.svg", import.meta.url).href,
  },
];
const transitioning = ref(false);
const step = ref("");
const innerStyles = ref("");
const currentIndex = ref(0);

const inner = ref(null);

let timeout = null;
const swipeNextInterval = () => {
  if (timeout) clearTimeout(timeout);
  return setInterval(() => {
    move((currentIndex.value + 1) % cards.length);
  }, 5000);
};
const init = _.debounce(() => {
  setStep();
  timeout = swipeNextInterval();
}, 200);

onMounted(() => {
  init();
  window.addEventListener("resize", init);
});

onUnmounted(() => {
  window.removeEventListener("resize", init);
});

const setStep = () => {
  const innerWidth = inner.value.scrollWidth;
  const totalCards = cards.length;
  step.value = innerWidth / totalCards;
  move(currentIndex.value, true);
};

const move = (index, stepChanged) => {
  timeout = swipeNextInterval();
  if (index === currentIndex.value && (!stepChanged || index === 0)) return;
  if (transitioning.value) return;
  transitioning.value = true;
  currentIndex.value = index;

  afterTransition(() => {
    transitioning.value = false;
  });

  innerStyles.value = {
    transform: `translateX(-${step.value * currentIndex.value}px)`,
  };
};

const afterTransition = (callback) => {
  const listener = () => {
    callback();
    inner.value.removeEventListener("transitionend", listener);
  };
  inner.value.addEventListener("transitionend", listener);
};
</script>

<template>
  <div class="carousel">
    <div class="inner" ref="inner" :style="innerStyles">
      <div
        v-for="{ image, caption } in cards"
        :key="image"
        class="card-wrapper"
      >
        <img class="card" :src="image" />
        <p class="caption">{{ caption }}</p>
      </div>
    </div>
    <div class="controls">
      <div
        v-for="(p, index) in cards"
        :key="index"
        @click="() => move(index)"
        class="indicator"
        :class="{ active: index === currentIndex }"
      ></div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.carousel {
  overflow: hidden;
  position: relative;
  flex: 1;
  background-color: #002276;
  min-width: min(20rem, 100%);
  min-height: fit-content;
}
.inner {
  transition: transform 0.4s;
  white-space: nowrap;

  height: 100%;
  .caption {
    left: 0%;
    $padding-horizontal: 2rem;
    width: calc(100% - $padding-horizontal * 2);
    padding: 0 $padding-horizontal;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    white-space: break-spaces;
    margin: 2rem 0 3rem;
  }
}
.card {
  color: white;
  position: relative;
  width: 80%;
  max-height: 50%;
  object-fit: contain;
}
.card-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
button {
  margin-right: 5px;
  margin-top: 10px;
}
.controls {
  position: absolute;
  z-index: 999;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 5px;
  cursor: pointer;
  &.active {
    background-color: white;
  }
}
</style>
