<script setup>
const socialLoginButtons = [
  {
    name: "Google",
    class: "google-btn",
    logo: new URL("../../assets/social-logos/google-logo.svg", import.meta.url)
      .href,
  },
  {
    name: "GitHub",
    class: "github-btn",
    logo: new URL("../../assets/social-logos/github-logo.svg", import.meta.url)
      .href,
  },
  {
    name: "Microsoft",
    class: "microsoft-btn",
    logo: new URL(
      "../../assets/social-logos/microsoft-logo.svg",
      import.meta.url
    ).href,
  },
];
</script>

<template>
  <button
    v-for="(button, index) in socialLoginButtons"
    class="btn"
    :class="button.class"
    :key="index"
  >
    <img class="icon" :src="button.logo" :alt="`${button.name}-logo`" />
    <span class="btn-name">{{ button.name }}</span>
  </button>
</template>

<style scoped lang="scss">
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.25rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  border: none;
  &.microsoft-btn {
    background-color: #fff;
    color: #5e5e5e;
    border: 1px solid #8c8c8c;
  }

  &.github-btn {
    background-color: #333;
    color: #fff;
  }
  &.google-btn {
    background-color: #4285f4;
    color: #fff;
    .icon {
      border-radius: 2px;
    }
  }

  $icon-width: 2rem;
  .icon {
    width: $icon-width;
    height: 2rem;
    object-fit: contain;
    align-self: flex-start;
  }

  .btn-name {
    text-align: center;
    flex: 1;
    margin-left: -$icon-width;
  }
}
</style>
