<script setup>
import { RouterView } from "vue-router";
</script>

<template>
  <RouterView />
</template>

<style>
@import "@/assets/base.css";

#app {
  height: 100%;
}

html,
body {
  height: 100%;
}
</style>
